.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
*.bak
*.zip
application/modules/LendSocial/views/credit_line/e_sign_@@.php
application/modules/LendSocial/views/credit_line/e_sign_@old-2024-june-11.php
application/modules/LendSocial/views/investmentAmountPreview - Copy.php
application/modules/LendSocial/views/investmentAmountPreview.php
application/modules/LendSocial/views/investmentAmountPreview.php
application/modules/LendSocial/views/investmentAmount_@old2024-june-12.php
application/modules/LendSocial/views/investmentAmountPreview_@old2024-rr.php
application/modules/surgeModuleP2P/views_@old_2024-may-21/*
application/modules/LendSocial/controllers/Borrowwer_bullet - Copy.php
application/modules/LendSocial/views/credit_line/dashboard_@old_2024-june-13.php
application/modules/surgeapi/controllers/Investapip2p_@old_2024-june-06.php
application/modules/surgeapi/controllers/Investapip2p_@old_2024-may-05.php
application/modules/LendSocial/controllers/Borrowwer_bullet_@old_2024_june_14.php
application/modules/LendSocial/views/credit_line/e_sign_@old_2024-june-14.php
application/modules/surgeModuleP2P/models/Surgemodel_2024-august-19.php
application/modules/surgeModuleP2P/models/LendSocialCommunicationModel_2024-august-19.php
application/helpers/backup/dc_helper-04-12-23.php
application/modules/credit-line/models/Borrowerinfomodel_@old2024-june-06.php
application/modules/credit-line/models/Borrowerinfomodel_@old_2024-june-10.php
application/modules/LendSocial/controllers/LendSocial__@old_2024-august_22.php
