.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
*.bak
*.zip
application/modules/LendSocial/views/credit_line/e_sign_@@.php
application/modules/LendSocial/views/credit_line/e_sign_@old-2024-june-11.php
application/modules/LendSocial/views/investmentAmountPreview - Copy.php
application/modules/LendSocial/views/investmentAmountPreview.php
application/modules/LendSocial/views/investmentAmountPreview.php
application/modules/LendSocial/views/investmentAmount_@old2024-june-12.php
application/modules/LendSocial/views/investmentAmountPreview_@old2024-rr.php
